body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
}

button:hover {
  background-color: #45a049;
}
.cell {
  padding: 0; /* 기본 패딩 제거 */
  margin: 0; /* 기본 마진 제거 */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #000;
}
/* 가로 라인 */
#board .cell:nth-child(n+19):nth-child(-n+27),
#board .cell:nth-child(n+46):nth-child(-n+54){
  border-bottom-width: 2px;
}
/* 가로 라인 */
#board .cell:nth-child(n+28):nth-child(-n+36),
#board .cell:nth-child(n+55):nth-child(-n+63){
  border-top-width: 2px;
}

/* 세로 라인 */
#board .cell:nth-child(3),
#board .cell:nth-child(6),
#board .cell:nth-child(12),
#board .cell:nth-child(15),
#board .cell:nth-child(21),
#board .cell:nth-child(24),
#board .cell:nth-child(30),
#board .cell:nth-child(33),
#board .cell:nth-child(39),
#board .cell:nth-child(42),
#board .cell:nth-child(48),
#board .cell:nth-child(51),
#board .cell:nth-child(57),
#board .cell:nth-child(60),
#board .cell:nth-child(66),
#board .cell:nth-child(69),
#board .cell:nth-child(75),
#board .cell:nth-child(78){
  border-right-width: 2px;
}
/* 세로 라인 */
#board .cell:nth-child(4),
#board .cell:nth-child(7),
#board .cell:nth-child(13),
#board .cell:nth-child(16),
#board .cell:nth-child(22),
#board .cell:nth-child(25),
#board .cell:nth-child(31),
#board .cell:nth-child(34),
#board .cell:nth-child(40),
#board .cell:nth-child(43),
#board .cell:nth-child(49),
#board .cell:nth-child(52),
#board .cell:nth-child(58),
#board .cell:nth-child(61),
#board .cell:nth-child(67),
#board .cell:nth-child(70),
#board .cell:nth-child(76),
#board .cell:nth-child(79){
  border-left-width: 2px;
}


#board {
  display: grid;
  grid-template-columns: repeat(9, auto); /* 각 셀의 크기를 자동으로 조정 */
  grid-template-rows: repeat(9, auto); /* 각 셀의 크기를 자동으로 조정 */
  gap: 0px;
  padding: 0;
  margin: 20px auto;
  border: 3px solid #000;
  width: max-content;
  height: max-content;
}

input:focus {
  background: transparent;
  outline: none; /* 포커스됐을 때 외곽선 제거 */
}
#message {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}
